* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #999;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  align-items: center;
  background: #fff;
  list-style-type: none;
  width: 480px;
  padding: 20px;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}

div li p span{
  color: #777;
}

div li p{
  margin-bottom: 12px;
}


div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
